<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig mt-5" >

        <div class="error-desc">

            <i class="fa fa-5x fa-exclamation-triangle text-warning"></i>
            <h3 class="text-danger"><B>ERROR:</B><br /> @ViewBag.ErrorMessage</h3>
            <h4 class="text-warning">Please Contact IT Department</h4>
        </div>
    </div>
</div>