<div class="row border-bottom noprint">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message">Welcome to  <b>AttendNow</b></span>
            </li>


            <li>
                <a href="@Url.Action("Logout", "User")">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>

        </ul>
    </nav>
</div>
<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmLogout" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>

    $(document).ready(function () {
        // Add a click event handler to the "Log out" link
        $("a[href*='/User/Logout']").click(function (e) {
            e.preventDefault(); // Prevent the link from navigating immediately

            // Show a Bootstrap modal confirmation dialog
            $('#logoutModal').modal('show');

            // Add event handler for the "Confirm" button in the modal
            $('#confirmLogout').click(function () {
                // Redirect to the logout action when confirmed
                window.location.href = $(e.currentTarget).attr('href');
            });
        });
    });
</script>
